body{
    background-color: burlywood;
}
h1{
    font-style: oblique;
    background-color: beige;
    color: brown;
    text-align: center;
    font-size: xx-large;
    text-decoration-line: underline;
}
div{
    display: inline-block;
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 10px;
}